.base {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  background-color: rgba(200, 255, 200, 0.5);
}
.headframe {
  height: 10%;
}
 
.mainframe {
  display: flex;
  flex-direction: row;
  height: 90%;
}